@model USOS.Models.Teachers.TeacherIndexModel

<link href="~/css/bootstrap.css" rel="stylesheet"/>
<script src="~/js/bootstrap.js"></script>

<div id="teachers">
    <h3>Teachers Catalog</h3>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Login</th>
                    <th>Password</th>
                    <th>Address</th>
                    <th>Telephone Number</th>
                    <th>Pesel</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model.Teachers)
                {
                    <tr>
                        <th scope="row">
                            <div>
                                <a asp-controller="Teachers" asp-action="Detail" asp-route-id="@teacher.Id">@teacher.Id</a>
                            </div>
                        </th>
                        <td>@teacher.FirstName</td>
                        <td>@teacher.LastName</td>
                        <td>@teacher.Login</td>
                        <td>@teacher.Password</td>
                        <td>@teacher.Address</td>
                        <td>@teacher.TelephoneNumber</td>
                        <td>@teacher.Pesel</td>
                        <td>@teacher.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

