<link href="~/css/style.css" rel="stylesheet" />
<script src="~/js/bootstrap.js"></script>
@model USOSData.Models.Teacher

<div id="container">
    <div id="createuser">
        <form method="post" asp-controller="Teachers" asp-action="UpdateTeacher">
            <div class="row">
                <div class="col-25">
                    <label for="InputFirstName">First Name</label>
                </div>
                <div class="col-75">
                    <input asp-for="FirstName" value="@Model.FirstName" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="InputLastName">Last Name</label>
                </div>
                <div class="col-75">
                    <input asp-for="LastName" value="@Model.LastName" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="InputAddress">Address</label>
                </div>
                <div class="col-75">
                    <input asp-for="Address" value="@Model.Address" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="InputEmail">Email</label>
                </div>
                <div class="col-75">
                    <input type="email" asp-for="Email" value="@Model.Email" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="InputLogin">Login</label>
                </div>
                <div class="col-75">
                    <input asp-for="Login" value="@Model.Login" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="InputPassword">Password</label>
                </div>
                <div class="col-75">
                    <input type="password" asp-for="Password" value="@Model.Password" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="InputPesel">Pesel</label>
                </div>
                <div class="col-75">
                    <input type="text" asp-for="Pesel" value="@Model.Pesel" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="InputTelephoneNumber">Telephone Number</label>
                </div>
                <div class="col-75">
                    <input asp-for="TelephoneNumber" value="@Model.TelephoneNumber" />
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Update" />
                <input type="hidden" asp-for="Id" />
            </div>
        </form>
    </div>
</div>